.wrapper {
   min-width: 450px;
   width: 30%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   font-size: 14px;
   line-height: 1.4;

   margin: 10px;
   background-color: #242526;
   border-radius: 10px;
   transition-duration: 0.5s;
}

@media (max-width: 550px) {
   .wrapper {
      min-width: 350px;
      font-size: 12px;
   }
}